In [1]:
dataset = [['Milk', 'Cookie', 'Apple', 'Beans', 'Eggs', 'Yogurt'],
           ['Coke', 'Cookie', 'Apple', 'Beans', 'Eggs', 'Yogurt'],
           ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
           ['Milk', 'Orange', 'Corn', 'Beans', 'Yogurt'],
           ['Corn', 'Cookie', 'Cookie', 'Beans', 'Ice cream', 'Eggs']]

In [4]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns = te.columns_)
df

,Apple,Beans,Coke,Cookie,Corn,Eggs,Ice cream,Kidney Beans,Milk,Orange,Yogurt
0,True,True,False,True,False,True,False,False,True,False,True
1,True,True,True,True,False,True,False,False,False,False,True
2,True,False,False,False,False,True,False,True,True,False,False
3,False,True,False,False,True,False,False,False,True,True,True
4,False,True,False,True,True,True,True,False,False,False,False

In [5]:
import mlxtend
from mlxtend.frequent_patterns import apriori
frequent_itemsets = apriori(df, min_support = 0.6, use_colnames=True)
frequent_itemsets

    support               itemsets
0       0.6                (Apple)
1       0.8                (Beans)
2       0.6               (Cookie)
3       0.8                 (Eggs)
4       0.6                 (Milk)
5       0.6               (Yogurt)
6       0.6          (Apple, Eggs)
7       0.6        (Beans, Cookie)
8       0.6          (Beans, Eggs)
9       0.6        (Beans, Yogurt)
10      0.6         (Eggs, Cookie)
11      0.6  (Beans, Cookie, Eggs)

In [6]:
# 연관규칙 분석 실습을 위해 트랜잭션으로 표현
import mlxtend
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

dataset = [['Milk', 'Cookie', 'Apple', 'Beans', 'Eggs', 'Yogurt'],
           ['Coke', 'Cookie', 'Apple', 'Beans', 'Eggs', 'Yogurt'],
           ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
           ['Milk', 'Orange', 'Corn', 'Beans', 'Yogurt'],
           ['Corn', 'Cookie', 'Cookie', 'Beans', 'Ice cream', 'Eggs']]
type(dataset)

list

In [7]:
# 판다스의 데이터프레임으로 트랜잭션 나타내기
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
te = TransactionEncoder() # 트랜잭션 생성을 위해 Encoder 객체 생성
# 해당 객체에 dataset 자료를 fitting시키고 트랜잭션 형태로 변환
te_ary = te.fit(dataset).transform(dataset)
te_ary

array([[ True,  True, False,  True, False,  True, False, False,  True,
        False,  True],
       [ True,  True,  True,  True, False,  True, False, False, False,
        False,  True],
       [ True, False, False, False, False,  True, False,  True,  True,
        False, False],
       [False,  True, False, False,  True, False, False, False,  True,
         True,  True],
       [False,  True, False,  True,  True,  True,  True, False, False,
        False, False]])

In [8]:
# 데이터프레임으로 생성하며, 열 이름은 제품명으로 지정
df = pd.DataFrame(te_ary, columns=te.columns_)

In [9]:
df

,Apple,Beans,Coke,Cookie,Corn,Eggs,Ice cream,Kidney Beans,Milk,Orange,Yogurt
0,True,True,False,True,False,True,False,False,True,False,True
1,True,True,True,True,False,True,False,False,False,False,True
2,True,False,False,False,False,True,False,True,True,False,False
3,False,True,False,False,True,False,False,False,True,True,True
4,False,True,False,True,True,True,True,False,False,False,False

In [10]:
# mlxtend Apriori 알고리즘
import mlxtend
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
apriori(df, min_support=0.6) # 최소 지지도를 0.6으로 하여 Apriori에 적용하기

    support   itemsets
0       0.6        (0)
1       0.8        (1)
2       0.6        (3)
3       0.8        (5)
4       0.6        (8)
5       0.6       (10)
6       0.6     (0, 5)
7       0.6     (1, 3)
8       0.6     (1, 5)
9       0.6    (1, 10)
10      0.6     (3, 5)
11      0.6  (1, 3, 5)

In [11]:
# itemset에 제품명이 나오도록 지정
apriori(df, min_support=0.6, use_colnames=True)

    support               itemsets
0       0.6                (Apple)
1       0.8                (Beans)
2       0.6               (Cookie)
3       0.8                 (Eggs)
4       0.6                 (Milk)
5       0.6               (Yogurt)
6       0.6          (Apple, Eggs)
7       0.6        (Beans, Cookie)
8       0.6          (Beans, Eggs)
9       0.6        (Beans, Yogurt)
10      0.6         (Eggs, Cookie)
11      0.6  (Beans, Cookie, Eggs)

In [15]:
# 연관 규칙 분석 결과를 필터링하기

# itemset의 제품 개수에 따른 필터링을 위해 length열을 추가
# 결과를 frequent_itemsets라는 이름으로 생성
frequent_itemsets = apriori(df, min_support=0.6, use_colnames=True)
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x :len(x)) # length추가

In [16]:
frequent_itemsets

    support               itemsets  length
0       0.6                (Apple)       1
1       0.8                (Beans)       1
2       0.6               (Cookie)       1
3       0.8                 (Eggs)       1
4       0.6                 (Milk)       1
5       0.6               (Yogurt)       1
6       0.6          (Apple, Eggs)       2
7       0.6        (Beans, Cookie)       2
8       0.6          (Beans, Eggs)       2
9       0.6        (Beans, Yogurt)       2
10      0.6         (Eggs, Cookie)       2
11      0.6  (Beans, Cookie, Eggs)       3

In [17]:
# 필터링 : 패턴 내 아이템은 두 개이고, 최소 지지도는 60% 이상인 패턴만 필터링
# frequent_itemsets에서 특정 조건을 만족시키는 행들을 선택
frequent_itemsets[(frequent_itemsets['length'] == 2) & (frequent_itemsets['support'] >= 0.6)]

    support         itemsets  length
6       0.6    (Apple, Eggs)       2
7       0.6  (Beans, Cookie)       2
8       0.6    (Beans, Eggs)       2
9       0.6  (Beans, Yogurt)       2
10      0.6   (Eggs, Cookie)       2

In [18]:
# 연관 규칙 분석 결과에서 confidence, lift 등 조건에 맞는 패턴 찾기

# assoication_rules 함수 : 데이터프레임을 입력, 기본값(confidence), 향상도(lift) 등을 조건으로 사용, 각 metric별 사용하는 최솟값은 min_threshold로 지정하며, 기본값은 0.8로 지정
# Apriori 결과에서 패턴을 발견, 이때 최소 신뢰도는 0.7로 지정
rules = association_rules(frequent_itemsets, metric='confidence', min_threshold=0.7)

In [19]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Apple),(Eggs),0.6,0.8,0.6,1.00,1.250000,0.12,inf
1,(Eggs),(Apple),0.8,0.6,0.6,0.75,1.250000,0.12,1.6
2,(Beans),(Cookie),0.8,0.6,0.6,0.75,1.250000,0.12,1.6
3,(Cookie),(Beans),0.6,0.8,0.6,1.00,1.250000,0.12,inf
4,(Beans),(Eggs),0.8,0.8,0.6,0.75,0.937500,-0.04,0.8
5,(Eggs),(Beans),0.8,0.8,0.6,0.75,0.937500,-0.04,0.8
6,(Beans),(Yogurt),0.8,0.6,0.6,0.75,1.250000,0.12,1.6
7,(Yogurt),(Beans),0.6,0.8,0.6,1.00,1.250000,0.12,inf
8,(Eggs),(Cookie),0.8,0.6,0.6,0.75,1.250000,0.12,1.6
9,(Cookie),(Eggs),0.6,0.8,0.6,1.00,1.250000,0.12,inf
10,"(Beans, Cookie)",(Eggs),0.6,0.8,0.6,1.00,1.250000,0.12,inf
11,"(Beans, Eggs)",(Cookie),0.6,0.6,0.6,1.00,1.666667,0.24,inf
12,"(Eggs, Cookie)",(Beans),0.6,0.8,0.6,1.00,1.250000,0.12,inf
13,(Beans),"(Eggs, Cookie)",0.8,0.6,0.6,0.75,1.250000,0.12,1.6
14,(Cookie),"(Beans, Eggs)",0.6,0.6,0.6,1.00,1.666667,0.24,inf
15,(Eggs),"(Beans, Cookie)",0.8,0.6,0.6,0.75,1.250000,0.12,1.6

In [20]:
# 향상도가 1.2 이상인 패턴을 발견
rules2 = association_rules(frequent_itemsets, metric = 'lift', min_threshold=1.2)
rules2

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Apple),(Eggs),0.6,0.8,0.6,1.00,1.250000,0.12,inf
1,(Eggs),(Apple),0.8,0.6,0.6,0.75,1.250000,0.12,1.6
2,(Beans),(Cookie),0.8,0.6,0.6,0.75,1.250000,0.12,1.6
3,(Cookie),(Beans),0.6,0.8,0.6,1.00,1.250000,0.12,inf
4,(Beans),(Yogurt),0.8,0.6,0.6,0.75,1.250000,0.12,1.6
5,(Yogurt),(Beans),0.6,0.8,0.6,1.00,1.250000,0.12,inf
6,(Eggs),(Cookie),0.8,0.6,0.6,0.75,1.250000,0.12,1.6
7,(Cookie),(Eggs),0.6,0.8,0.6,1.00,1.250000,0.12,inf
8,"(Beans, Cookie)",(Eggs),0.6,0.8,0.6,1.00,1.250000,0.12,inf
9,"(Beans, Eggs)",(Cookie),0.6,0.6,0.6,1.00,1.666667,0.24,inf
10,"(Eggs, Cookie)",(Beans),0.6,0.8,0.6,1.00,1.250000,0.12,inf
11,(Beans),"(Eggs, Cookie)",0.8,0.6,0.6,0.75,1.250000,0.12,1.6
12,(Cookie),"(Beans, Eggs)",0.6,0.6,0.6,1.00,1.666667,0.24,inf
13,(Eggs),"(Beans, Cookie)",0.8,0.6,0.6,0.75,1.250000,0.12,1.6

In [21]:
# 결과 중 필터링
# antecedents 열에 각 값에 포함된 item 개수를 len() 함수로 측정하여 antecedent_len이라는 새로운 열 생성
rules['antecedent_len'] = rules['antecedents'].apply(lambda x : len(x))

# 특정 조건을 만족하는 패턴을 출력
rules[(rules['antecedent_len'] >= 2) & (rules['confidence'] > 0.75) & (rules['lift'] > 1.2)]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len
10,"(Beans, Cookie)",(Eggs),0.6,0.8,0.6,1.0,1.250000,0.12,inf,2
11,"(Beans, Eggs)",(Cookie),0.6,0.6,0.6,1.0,1.666667,0.24,inf,2
12,"(Eggs, Cookie)",(Beans),0.6,0.8,0.6,1.0,1.250000,0.12,inf,2