In [32]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy.stats import *
%matplotlib inline
plt.rcParams['font.family'] = 'Malgun Gothic'
plt.rcParams['font.size'] = 15
plt.rcParams['figure.figsize'] = (20, 5)

In [33]:
df = pd.read_csv(r'C:/Users/Jinyoung/Pictures/python_analysis/fc_preprocessing/rawdata/part2/E-Commerce_UK.csv', engine='python')

In [34]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,C-17850
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,C-17850
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,C-17850
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,C-17850
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,C-17850

### 데이터 분할

In [35]:
refund_df = df.loc[df['Quantity'] <= 0] # 환불 데이터
order_df = df.loc[df['Quantity'] > 0] # 주문 데이터

### 고객별 특징 추출

In [36]:
# 클러스터링을 위한 데이터 초기화
cluster_df = pd.DataFrame({'CustomerID' : order_df['CustomerID'].unique()})

In [37]:
# 주문 횟수 계산 및 부착
number_of_order_per_CID = order_df.drop_duplicates(subset = ['CustomerID', 'InvoiceNo'])['CustomerID'].value_counts()
cluster_df['주문횟수'] = cluster_df['CustomerID'].replace(number_of_order_per_CID.to_dict())

# 주문횟수가 0인 경우에는 repalce가 되지 않아 CustomerID가 부착될 수 있음
# 따라서 이러한 경우를 대비하기 위해 0으로 변경
cluster_df.loc[cluster_df['CustomerID'] == cluster_df['주문횟수'], '주문횟수'] = 0
cluster_df.head()

  CustomerID  주문횟수
0    C-17850    34
1    C-13047    21
2    C-12583    15
3    C-13748     5
4    C-15100     4

In [38]:
# 반품 횟수 계산 및 부착
number_of_refund_per_CID = refund_df.drop_duplicates(subset = ['CustomerID', 'InvoiceNo'])['CustomerID'].value_counts()
cluster_df['반품횟수'] = cluster_df['CustomerID'].replace(number_of_refund_per_CID.to_dict())

cluster_df.loc[cluster_df['CustomerID'] == cluster_df['반품횟수'], '반품횟수'] = 0
cluster_df.head()

  CustomerID  주문횟수 반품횟수
0    C-17850    34    1
1    C-13047    21    8
2    C-12583    15    3
3    C-13748     5    0
4    C-15100     4    3

In [39]:
# 주문량 계산
number_of_quantity_per_CID = order_df.groupby(['CustomerID'])['Quantity'].sum()
cluster_df['주문량'] = cluster_df['CustomerID'].replace(number_of_quantity_per_CID.to_dict())
cluster_df.loc[cluster_df['CustomerID'] == cluster_df['주문량'], '주문량'] = 0
cluster_df.head()

  CustomerID  주문횟수 반품횟수   주문량
0    C-17850    34    1  1733
1    C-13047    21    8  1953
2    C-12583    15    3  5060
3    C-13748     5    0   439
4    C-15100     4    3    81

In [40]:
# 주문금액 합계 계산 및 부착
order_df.loc[:, '주문금액'] = order_df.loc[:, 'Quantity'] * order_df.loc[:, 'UnitPrice']

number_of_quantity_per_CID = order_df.groupby('CustomerID')['주문금액'].sum()
cluster_df['주문금액합계'] = cluster_df['CustomerID'].replace(number_of_quantity_per_CID.to_dict())
cluster_df.loc[cluster_df['CustomerID'] == cluster_df['주문금액합계'], '주문금액합계'] = 0
cluster_df.head()

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:1596: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:1745: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(ilocs[0], value)

  CustomerID  주문횟수 반품횟수   주문량   주문금액합계
0    C-17850    34    1  1733  5391.21
1    C-13047    21    8  1953  6619.51
2    C-12583    15    3  5060  7281.38
3    C-13748     5    0   439   948.25
4    C-15100     4    3    81   877.25

In [41]:
# 최근 주문 ~ 현재 시점까지 거리 부착
current_date = pd.to_datetime('2011-12-10')
def recency(value):
    month, day, year = value.split(' ')[0].split('/')
    diff = (current_date - pd.to_datetime('{}-{}-{}'.format(year, month, day))).days
    return diff

# keep = last를 통해 계산량 감소
order_df_without_duplicates = order_df.drop_duplicates(subset = ['CustomerID', 'InvoiceDate'], keep = 'last')[['CustomerID', 'InvoiceDate']]
order_df_without_duplicates['최근성'] = order_df_without_duplicates['InvoiceDate'].apply(recency)

min_recency_per_CID = order_df_without_duplicates.set_index('CustomerID')['최근성']
cluster_df['최근성'] = cluster_df['CustomerID'].replace(min_recency_per_CID.to_dict())

In [42]:
cluster_df.head()

  CustomerID  주문횟수 반품횟수   주문량   주문금액합계  최근성
0    C-17850    34    1  1733  5391.21  373
1    C-13047    21    8  1953  6619.51   32
2    C-12583    15    3  5060  7281.38    3
3    C-13748     5    0   439   948.25   96
4    C-15100     4    3    81   877.25  331

In [43]:
cluster_df.set_index('CustomerID', inplace=True)

### 고객의 주문 특성에 따른 군집화 수행

In [44]:
from sklearn.cluster import AgglomerativeClustering as AC
clustering_model = AC(n_clusters = 5,
                     affinity='cosine', 
                     linkage='average')
clustering_model.fit(cluster_df)

AgglomerativeClustering(affinity='cosine', linkage='average', n_clusters=5)

In [45]:
cluster_df['주문특성_군집'] = clustering_model.labels_
cluster_df.head()

            주문횟수 반품횟수   주문량   주문금액합계  최근성  주문특성_군집
CustomerID
C-17850       34    1  1733  5391.21  373        0
C-13047       21    8  1953  6619.51   32        0
C-12583       15    3  5060  7281.38    3        0
C-13748        5    0   439   948.25   96        0
C-15100        4    3    81   877.25  331        0

In [47]:
cluster_df.groupby(['주문특성_군집'])[['주문횟수', '반품횟수', '주문량', '주문금액합계', '최근성']].mean()

             주문횟수          주문량       주문금액합계         최근성
주문특성_군집
0        5.482738  1502.736633  3073.161575   59.893064
1        3.370717  1823.274143  1395.034455   69.040498
2        1.345733   148.695842   272.678600  231.516411
3        1.086331    59.593525   127.332122  272.694245
4        1.066667     8.466667    27.213333  293.200000