In [1]:
import pandas as pd
df = pd.read_csv(r'C:\Users\Jinyoung\Pictures\python_analysis\fc_preprocessing\rawdata\part1\data_reading.csv')

In [2]:
df

         Col1      Col2      Col3      Col4      Col5
0    0.188888  0.161053  0.150413  0.824770  0.111833
1    0.827719  0.161363  0.400331  0.398196  0.770696
2    0.844660  0.100998  0.995176  0.615525  0.878389
3    0.913895  0.036169  0.237840  0.187628  0.534308
4    0.322443  0.955010  0.340765  0.649311  0.354540
..        ...       ...       ...       ...       ...
995  0.868028  0.552366  0.211441  0.440146  0.240862
996  0.004869  0.815758  0.881353  0.904683  0.704121
997  0.990945  0.399277  0.909434  0.470590  0.379791
998  0.822819  0.964414  0.438145  0.896867  0.774079
999  0.177883  0.567393  0.811115  0.339432  0.121598

[1000 rows x 5 columns]

In [3]:
df = pd.read_csv(r'C:/Users/Jinyoung/Pictures/python_analysis/fc_preprocessing/rawdata/part1/data_reading_tap.txt', sep='\t')

In [4]:
df

         Col1      Col2      Col3      Col4      Col5
0    0.188888  0.161053  0.150413  0.824770  0.111833
1    0.827719  0.161363  0.400331  0.398196  0.770696
2    0.844660  0.100998  0.995176  0.615525  0.878389
3    0.913895  0.036169  0.237840  0.187628  0.534308
4    0.322443  0.955010  0.340765  0.649311  0.354540
..        ...       ...       ...       ...       ...
995  0.868028  0.552366  0.211441  0.440146  0.240862
996  0.004869  0.815758  0.881353  0.904683  0.704121
997  0.990945  0.399277  0.909434  0.470590  0.379791
998  0.822819  0.964414  0.438145  0.896867  0.774079
999  0.177883  0.567393  0.811115  0.339432  0.121598

[1000 rows x 5 columns]

In [5]:
df = pd.read_csv(r'C:/Users/Jinyoung/Pictures/python_analysis/fc_preprocessing/rawdata/part1/data_reading_without_header.csv', header=None)

In [6]:
df

            0         1         2         3         4
0    0.188888  0.161053  0.150413  0.824770  0.111833
1    0.827719  0.161363  0.400331  0.398196  0.770696
2    0.844660  0.100998  0.995176  0.615525  0.878389
3    0.913895  0.036169  0.237840  0.187628  0.534308
4    0.322443  0.955010  0.340765  0.649311  0.354540
..        ...       ...       ...       ...       ...
995  0.868028  0.552366  0.211441  0.440146  0.240862
996  0.004869  0.815758  0.881353  0.904683  0.704121
997  0.990945  0.399277  0.909434  0.470590  0.379791
998  0.822819  0.964414  0.438145  0.896867  0.774079
999  0.177883  0.567393  0.811115  0.339432  0.121598

[1000 rows x 5 columns]

In [8]:
df.columns = ['X1', 'X2', 'X3', 'X4', 'X5']
df

           X1        X2        X3        X4        X5
0    0.188888  0.161053  0.150413  0.824770  0.111833
1    0.827719  0.161363  0.400331  0.398196  0.770696
2    0.844660  0.100998  0.995176  0.615525  0.878389
3    0.913895  0.036169  0.237840  0.187628  0.534308
4    0.322443  0.955010  0.340765  0.649311  0.354540
..        ...       ...       ...       ...       ...
995  0.868028  0.552366  0.211441  0.440146  0.240862
996  0.004869  0.815758  0.881353  0.904683  0.704121
997  0.990945  0.399277  0.909434  0.470590  0.379791
998  0.822819  0.964414  0.438145  0.896867  0.774079
999  0.177883  0.567393  0.811115  0.339432  0.121598

[1000 rows x 5 columns]

## 큰 규모의 데이터 불러오기

In [10]:
df = pd.read_csv(r'C:/Users/Jinyoung/Pictures/python_analysis/fc_preprocessing/rawdata/part1/large_data_with_ID.csv',
                usecols = [0, 1, 5, 10], # ['ID', 'X1', 'X5', 'X10']으로 불러와도 괜찮,
                index_col = 'ID', # usecols를 사용하는 경우 index_col을 반드시 포함
                nrows = 1000)

In [11]:
df

        X1  X5  X10
ID
ID1     21   3   60
ID2      0  69   98
ID3     75  69   49
ID4     66  86   22
ID5     33  57   59
...     ..  ..  ...
ID996   28  27   20
ID997    0  45   64
ID998   75  33   79
ID999   44  20   35
ID1000  61  10   68

[1000 rows x 3 columns]

In [12]:
df = pd.read_csv(r'C:/Users/Jinyoung/Pictures/python_analysis/fc_preprocessing/rawdata/part1/large_data_with_ID.csv')